.sidebar{

    width:260px;

    height:100vh;

    background:#0D47A1;

    color:white;

    position:fixed;

    left:0;

    top:0;

}

.logo{

    height:70px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    font-size:20px;

    font-weight:bold;

    border-bottom:1px solid rgba(255,255,255,.15);

}

mat-nav-list{

    margin-top:20px;

}

a{

    color:white !important;

}

.active{

    background:rgba(255,255,255,.15);

    border-left:4px solid white;

}