################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/CitizenPortal.API/wwwroot/ComplaintImages
