.success-card{

    width:420px;
    padding:35px;
    text-align:center;
}

.icon{

    width:90px;
    height:90px;

    margin:auto;

    border-radius:50%;
    background:#28a745;

    color:white;

    font-size:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:20px;
}

h2{

    color:#2D2F7F;
    margin-bottom:10px;
}

.message{

    color:#666;
    margin-bottom:25px;
}

.details
{
    background:#f6f7fb;
    border-radius:10px;
    padding:20px;
    margin-bottom:30px;
    text-align:left;
}

.details div{

    display:flex;
    justify-content:space-between;
    margin:12px 0;
}

.status{

    color:#ff9800;
    font-weight:bold;
}

button{

    width:120px;
}