.home-container{
    width:100%;
    min-height:calc(100vh - 120px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:#eef2f5;
}

.home-container h1{
    font-size:60px;
    margin-bottom:20px;
}

.home-container h2{
    font-size:40px;
    margin-bottom:50px;
}

.home-container img{
    width:220px;
}